nav .navbar-item img {
    max-height: 2.75rem;
    margin-bottom: -0.5rem;
    margin-top: -0.5rem;
    margin-right: 0.5rem;
}

table.matches a {
    color: #9C3;
}
table.matches a:hover {
    color: #336600;
}
