nav .navbar-item img {
    max-height: 2.75rem;
    margin-bottom: -1rem;
    margin-top: -0.5rem;
    margin-right: 0.5rem;
}

table.matches a {
    color: #9C3;
}
table.matches a:hover {
    color: #336600;
}

.hidden-by-type, .hidden-by-league {
    display: none;
}

.button.is-active-filter {
    background-color: #9C3;
    border-color: #336600;
    color: #fff;
    z-index: 2;
}

.error-page {
    white-space: pre-wrap;
    font-family: monospace;
    line-height: initial;
}
